body {
background-color: #1f1d1e;
margin: 0;
}

.side-bar {
  width: 250px;
  height: 100vh;
  background-color: #2c2a2b;
  display: flex;
  flex-direction: column;
  position: fixed;
}

.logo {
  color: #f0eada;
  font-family: "Montserrat";
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 23px;
  text-align: center;
}

.nav-links {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 19px;
  margin-left: 15px;
  font-weight: bold;
  width: 200px;
}

.setting {
  cursor: pointer;
  margin: 0;
  padding: 7px;
  border-radius: 5px;
  padding-left: 15px;
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
  width: 178px;
}

.nav-filter {
  cursor: pointer;
  margin: 0;
  padding: 7px;
  padding-left: 15px;
  border-radius: 5px;
}

.nav-quiz {
  cursor: pointer;
  margin: 0;
  padding: 7px;
  border-radius: 5px;
  padding-left: 15px;
}

.nav-quiz:hover,
.setting:hover,
.nav-filter:hover {
  background-color: rgb(73, 73, 73);
}

.quiz-container {
  display: none;
  flex-direction: column;
  margin: 0;
  border-radius: 5px;
  margin-left: 10px;
}

 .card {
   background-color: #2c2a2b;
   width: 22%;
   height: 410px;
   margin: 40px 0;
   border-radius: 10px;
   box-shadow: 5px 9px 10px rgba(0, 0, 0, 0.15);
   display: flex;
   flex-direction: column;
 }

  .card-container {
   display: flex;
   flex-wrap: wrap;
   background-color: #1f1d1e;
   margin: 30px auto;
   padding-left: 250px;
   justify-content: space-between;
   width: 80vw;
 }

 .container {
  display: flex;
  flex-direction: row;
 }

.card-image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 20vh;
}

.card-title,
.card-category,
.card-difficulty {
  margin: 0;
}
 .card-title {
  font-size: 25px;
  color: white;
  margin-left: 10px;
  margin: 10px;
 }

 .card-category {
  font-size: 18px;
  margin-left: 10px;
  color: white;
 }

  .card-difficulty {
  font-size: 18px;
  margin-left: 10px;
  color: white;
  margin-top: 10px;
 }

 .play-button {
  width: 100px;
  padding: 15px;
  margin-left: 115px;
  font-size: 20px;
  font-weight: 900;
  background-color: #1f1d1e;
  border-radius: 10px;
  color: white;
  border-color: black;
  cursor: pointer;
  margin-top: 30px;
 }

 