:root {
  --dark-gray: #1f1d1e;
  --light-gray: #2c2a2b;
  --white: #f7f6eb;
  --gray: #e4e3dd;
}

.dark2 {
  --primary2: var(--light-gray);
  --secondary2: var(--white);
}
.dark {
  --primary: var(--dark-gray);
  --secondary: var(--gray);
}

.light {
  --primary: var(--gray);
  --secondary: var(--dark-gray);
}

.light2 {
  --primary2: var(--white);
  --secondary2: var(--light-gray);
}

html {
  margin: 0;
}
body{
  background-color: var(--primary);
  margin: 0;
}

.side-bar {
  background-color: var(--primary2);
  color: var(--secondary2);
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
}

.logo {
  color: var(--secondary2);
  font-family: "Montserrat";
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 23px;
  text-align: center;
}

.nav-links {
  color: var(--secondary2);
  display: flex;
  flex-direction: column;
  font-size: 19px;
  margin-left: 15px;
  font-weight: bold;
  width: 200px;
}

.setting {
  cursor: pointer;
  margin: 0;
  padding: 7px;
  border-radius: 5px;
  padding-left: 15px;
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
  width: 178px;
}

.nav-setting {
  cursor: pointer;
  margin: 0;
  padding: 7px;
  padding-left: 15px;
  border-radius: 5px;
  position: fixed;
  bottom: 0;
  margin-bottom: 55px;
  width: 168px;
}

.nav-filter {
  cursor: pointer;
  margin: 0;
  padding: 7px;
  padding-left: 15px;
  border-radius: 5px;
}

.nav-quiz {
  cursor: pointer;
  margin: 0;
  padding: 7px;
  border-radius: 5px;
  padding-left: 15px;
}

.card-container {
   display: flex;
   flex-wrap: wrap;
   background-color: var(--primary);
   margin: 30px auto;
   padding-left: 250px;
   justify-content: space-between;
   width: 80vw;
 }

.nav-quiz:hover,
.setting:hover,
.nav-filter:hover,
.nav-setting:hover {
  background-color: var(--primary);
}


.filter-container {
  display: none;
  flex-direction: column;
  margin: 0;
  border-radius: 5px;
  margin-left: 10px;
}

.setting-container {
  display: none;
  flex-direction: column;
  margin: 0;
  border-radius: 5px;
  margin-left: 10px;
}

 .card {
   background-color: var(--primary2);
   width: 22%;
   height: 410px;
   margin: 40px 0;
   border-radius: 10px;
   box-shadow: 5px 9px 10px rgba(0, 0, 0, 0.15);
   display: flex;
   flex-direction: column;
 }

 .container {
  display: flex;
  flex-direction: column;
  margin: 0px;
 }

.card-image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 20vh;
}

.card-title,
.card-category,
.card-difficulty {
  margin: 0;
}
 .card-title {
  font-size: 25px;
  color: var(--secondary2);
  margin-left: 10px;
  margin: 10px;
 }

 .card-category {
  font-size: 18px;
  margin-left: 10px;
  color: var(--secondary2);
 }

  .card-difficulty {
  font-size: 18px;
  margin-left: 10px;
  color: var(--secondary2);
  margin-top: 10px;
 }

 .play-button {
  width: 100px;
  padding: 15px;
  margin-left: 115px;
  font-size: 20px;
  font-weight: 900;
  background-color: var(--primary);
  border-radius: 10px;
  color: var(--secondary);
  border-color: var(--primary);;
  cursor: pointer;
  margin-top: 30px;
 }

 .quiz-container {
   margin: 0px;
   display: none;
   flex-direction: column;
   background-color: var(--primary);
   padding-left: 250px;
   width: 80vw;
 }

 .goBack {
  cursor: pointer;
 }
 .arrow {
  color: var(--secondary2);
  display: inline-block;
  margin: 0px;
  font-size: 30px;
  vertical-align: top;
 }

 .main-menu {
  color: var(--secondary2);
  display: inline-block;
  margin: 0px;
  font-size: 25px;
 }

 .hard-geography {
  font: 25px;
 }

 .question-title {
  display: block;
  text-align: center;
 }
